.goodlist {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    text-align: center;
}

.good-item {
    border: 1px solid;
    height: 150px;
    width: 100px;
}

.motolist {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.moto-item {
    border: 1px solid;
    height: 150px;
    width: 100px;
}